/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.2.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noel Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
 */
.featherlight {
	background: transparent;
	cursor: zoom-out;
	display: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	white-space: nowrap;
	z-index: 2147483647;
}

[data-featherlight] {
	cursor: zoom-in;
}

.featherlight * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.90);
}

.featherlight:before {
	content: "";
	display: inline-block;
	height: 100%;
	margin-right: -0.25em;
	vertical-align: middle;
}

.featherlight .featherlight-content {
	background: #fff;
	border: 0;
	cursor: auto;
	display: inline-block;
	max-height: 90%;
	max-width: 90%;
	min-width: inherit;
	overflow: visible;
	padding: 0;
	position: relative;
	text-align: left;
	vertical-align: middle;
	white-space: normal;
}

.featherlight .featherlight-inner {
	display: block;
}

.featherlight .featherlight-close-icon {
	cursor: zoom-out;
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21%204.41L19.59%203%2012%2010.59%204.41%203%203%204.41%2010.59%2012%203%2019.59%204.41%2021%2012%2013.41%2019.59%2021%2021%2019.59%2013.41%2012%2021%204.41z%22/%3E%0A%3C/svg%3E");
	background-size: 100% auto;
	display: block;
	top: 20px;
	right: 20px;
	text-align: center;
	width: 30px;
	height: 30px;
	position: fixed;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	z-index: 9999;
}

.featherlight .featherlight-image {
	max-width: 100%;
}

.featherlight iframe {
	border: 0;
}

.featherlight-iframe .featherlight-content {
	border-bottom: 0;
	padding: 0;
}

.featherlight-content .caption {
	color: #fff;
	font-weight: lighter;
	font-size: 16px;
	position: absolute;
}

/* Animated Loader
--------------------------------------------- */

.featherlight-loading .featherlight-content {
	-webkit-animation: featherlightLoader 1s infinite linear;
	animation: featherlightLoader 1s infinite linear;
	background: transparent;
	border: 8px solid #909090;
	border-left-color: #fff;
	font-size: 10px;
}

.featherlight-loading .featherlight-content,
.featherlight-loading .featherlight-content:after {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	height: 10em;
	width: 10em;
}

.featherlight-loading .featherlight-close,
.featherlight-loading .featherlight-inner {
	display: none;
}

/**
 * Featherlight Gallery - an extension for the ultra slim jQuery lightbox
 * Version 1.2.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2015, Noel Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
 */
.featherlight-next,
.featherlight-previous {
	background-size: 100% auto;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: fixed;
	opacity: 0.4;
	top: 50%;
	height: 60px;
	margin-top: -30px;
	width: 60px;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.featherlight-next {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M8.59%2016.59L13.17%2012%208.59%207.41%2010%206l6%206-6%206-1.41-1.41z%22/%3E%0A%3C/svg%3E");
	right: 0;
}

.featherlight-previous {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%09%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.41%207.41L10.83%2012l4.58%204.59L14%2018l-6-6%206-6%201.41%201.41z%22/%3E%0A%3C/svg%3E");
	left: 0;
}

.featherlight-next:hover,
.featherlight-next:focus,
.featherlight-previous:hover,
.featherlight-previous:focus {
	opacity: 1;
}

.featherlight-loading .featherlight-previous,
.featherlight-loading .featherlight-next {
	display: none;
}

/**
 * Featherlight Animations
 *
 * Copyright 2015, WP Site Care
 * MIT Licensed.
 */
 @-webkit-keyframes featherlightLoader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
 }
 @keyframes featherlightLoader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
 }
