 @keyframes featherlightLoader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
 }

.featherlight-loading {
	.featherlight-content {
		animation: featherlightLoader 1s infinite linear;
		background: transparent;
		border: 8px solid $loader-primary-color;
		border-left-color: $loader-secondary-color;
		font-size: 10px;
	 }

	.featherlight-content,
	.featherlight-content:after {
		border-radius: 50%;
		height: 10em;
		width: 10em;
	}

	.featherlight-close,
	.featherlight-inner {
		display: none;
	}
}
