.featherlight {
	background: transparent;
	cursor: zoom-out;
	display: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	white-space: nowrap;
	z-index: 2147483647;

	* {
		box-sizing: border-box;
	}

	&:last-of-type {
		background: $underlay-background-color;
	}

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		margin-right: -0.25em;
		vertical-align: middle;
	}

	.featherlight-content {
		background: $content-background-color;
		border: 0;
		cursor: auto;
		display: inline-block;
		max-height: 80%;
		max-width: 90%;
		min-width: inherit;
		overflow: visible;
		padding: 0;
		position: relative;
		text-align: left;
		vertical-align: middle;
		white-space: normal;

		@media screen and (min-width: 980px) {
			max-height: 90%;
		}
	}

	.featherlight-inner {
		display: block;
	}

	.featherlight-close-icon {
		cursor: zoom-out;
		background: $close-icon;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		display: block;
		top: 25px;
		right: 25px;
		text-align: center;
		width: 30px;
		height: 30px;
		position: fixed;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		z-index: 9999;
	}

	.featherlight-image {
		max-width: 100%;
	}

	iframe {
		border: 0;
	}
}

[data-featherlight] {
	cursor: zoom-in;
}

.featherlight-iframe .featherlight-content {
	border-bottom: 0;
	padding: 0;
}

.featherlight-content .caption {
	color: $caption-text-color;
	font-size: 16px;
	font-weight: lighter;
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover,
	&:focus {
		white-space: normal;
		overflow: visible;
	}
}
