.featherlight-next,
.featherlight-previous {
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: fixed;
	opacity: 0.4;
	top: 50%;
	height: 60px;
	margin-top: -30px;
	width: 60px;
	user-select: none;

	span {
		display: none;
	}

	&:hover,
	&:focus {
		opacity: 1;
	}
}

.featherlight-next {
	background: $next-icon;
	right: 10px;
}

.featherlight-previous {
	background: $prev-icon;
	left: 10px;
}

.featherlight-loading .featherlight-previous,
.featherlight-loading .featherlight-next {
	display: none;
}
