.featherlight {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	background: rgba(0, 0, 0, 0);

	* {
		box-sizing: border-box;
	}

	&:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.25em;
	}

	.featherlight-content {
		background: #fff;
		position: relative;
		text-align: left;
		vertical-align: middle;
		display: inline-block;
		overflow: auto;
		padding: 0;
		border: 0;
		min-width: inherit;
		max-height: 95%;
		max-width: 90%;
		cursor: auto;
		white-space: normal;
	}

	.featherlight-inner {
		display: block;
	}

	.featherlight-close-icon {
		position: absolute;
		z-index: 9999;
		top: 0;
		right: 0;
		line-height: 25px;
		width: 20px;
		cursor: pointer;
		text-align: center;
		font: Arial, sans-serif;
		background: rgba(255, 255, 255, 0.3);
		color: #000;
	}

	.featherlight-image {
		max-width: 100%;
		border: 20px solid #fff;

		@media only screen and (max-width: 1024px) {
			border: 10px solid #fff;
		}
	}

	iframe {
		border: 0;
	}
}

.featherlight-iframe .featherlight-content {
	border-bottom: 0;
	padding: 0;
}

/* Animated Loader
--------------------------------------------- */
.featherlight-loading {
	.featherlight-content {
		animation: featherlightLoader 1s infinite linear;
		background: transparent;
		border: 8px solid #909090;
		border-left-color: #fff;
		font-size: 10px;
	}

	.featherlight-content,
	.featherlight-content:after {
		border-radius: 50%;
		width: 10em;
		height: 10em;
	}

	.featherlight-close,
	.featherlight-inner {
		display: none;
	}
}
