.featherlight-next,
.featherlight-previous {
	background: rgba(0, 0, 0, 0); // IE9 hack to fix navigation display
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 0;
	left: 80%;
	cursor: pointer;
	user-select: none;

	@media only screen and (max-width: 1024px) {
		top: 10px;
		right: 10px;
		left: 85%;
	}

	&:hover,
	&:focus {
		background: rgba(255, 255, 255, 0.25);

		@media only screen and (max-width: 1024px) {
			background: none;
		}

		span {
			display: inline-block;
		}
	}

	span {
		display: none;
		position: absolute;
		top: 50%;
		left: 5%;
		width: 82%;
		text-align: center;
		font-size: 80px;
		line-height: 80px;
		margin-top: -40px;
		text-shadow: 0 0 5px #fff;
		color: #fff;
		font-style: normal;
		font-weight: normal;

		@media only screen and (max-width: 1024px) {
			display: block;
			margin-top: -30px;
			font-size: 40px;
		}
	}
}

.featherlight-previous {
	left: 20px;
	right: 80%;

	@media only screen and (max-width: 1024px) {
		left: 10px;
		right: 85%;
	}
}

.featherlight-next span {
	right: 5%;
	left: auto;
}

.featherlight-loading {
	.featherlight-previous,
	.featherlight-next {
		display: none;
	}
}
